

  .notify{  
    display: none;
    position:fixed;
    top:50%;
    width:100%;
    height:50px;  
    opacity:0;
    box-sizing:border-box;
    color:white;  
    text-align:center;
    background:rgba(0,0,0,.6);
    overflow:hidden;
    box-sizing:border-box;
    transition:opacity .2s;
    
  }
  

  #notifyType:before{
    display:block;
    margin-top:15px; 
  }
  
  .active{
    opacity:1;
  }
  