#schedule{
    margin: 30px;
    border: gray 5px solid;
    border-radius: 10px;
}

.Schcontainer{
    padding-left: 20px; 
    padding-right: 20px;
}

.SchBox{
    display: inline-block;
    text-align: center;
    overflow: hidden;
    margin: 20px;
    margin-right: 0px;
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 40px;
    cursor: pointer;
    color: salmon;
}

.SchBox:hover{
    background-color: wheat;
}

.addbox{
    color: gray;
}

.addbox:hover{
    color: tomato;
}

.addtext{
    display: inline-block;
    margin-top:40px;
    font-size: 80px;
}

.Schtext{
    display: inline-block;
    margin-top:40px;
    font-size: 30px;
    font-weight: bolder;
}
